# Development Tools
.vscode/*
shell.nix
add_script_desc.py
config_test/*

# Build Target
/nix_parser/target

# Ignore virtual environment folder
kivy-env/

# Ignore Python bytecode files
__pycache__/
*.pyc
.venv/*
venv/
